<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <title>Kalaha</title>
    <div th:replace="./base/header :: meta"/>
    <div th:replace="./base/header :: header-css"/>
</head>
<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-6">
                <div class="card rounded-0">
                    <div class="card-header">
                        <h3 class="mb-0">Login</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/login.html}" method="post">
                            <div class="form-group">
                                <label for="username" class="bmd-label-floating">Email address</label>
                                <input type="username" class="form-control" id="username" name="username"/>
                            </div>
                            <div class="form-group">
                                <label for="password" class="bmd-label-floating">Password</label>
                                <input type="password" class="form-control" id="password" name="password"/>
                            </div>
                            <a class="btn btn-default" href="/signup.html">Sign Up</a>
                            <button type="submit" class="btn btn-primary btn-raised">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="./base/footer :: footer-js"/>
<script th:if="${error}" th:inline="javascript">
    /*<![CDATA[*/
    $(function() {
    var options = {
        content: "Wrong username or password.",
        style: "text-center",
        timeout: 0,
        htmlAllowed: true
    }
    $.snackbar(options);
    });
     /*]]>*/
</script>
    <script th:if="${new_user}" th:inline="javascript">
    /*<![CDATA[*/
    $(function() {
    var options = {
        content: "Welcome /*[[${user}]]*/, please login",
        style: "text-center",
        timeout: 0,
        htmlAllowed: true
    }
    $.snackbar(options);
    });
     /*]]>*/
</script>
</body>
</html>