<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <div th:fragment="footer-js">
        <script src="webjars/jquery/3.0.0/jquery.min.js"></script>
        <script src="webjars/popper.js/1.11.1/dist/umd/popper.min.js"></script>
        <script src="webjars/popper.js/1.11.1/dist/umd/popper-utils.min.js"></script>
        <script src="webjars/snackbarjs/1.1.0/dist/snackbar.min.js"></script>
        <script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="webjars/bootstrap-material-design/4.1.1/js/bootstrap-material-design.min.js"></script>
        <script src="webjars/placeholder.js/3.1.0/dist/placeholder.min.js"></script>
        <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
    </div>
</head>
<body>
</body>
</html>